# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
build/
dist/

# Environment files
.env
.env.local
.env.*.local

# Optional cache
.npm
.cache/

# Misc
.DS_Store

